@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


                    /* ----------------------------------------------reset css ------------------------------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #373737;
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}


                    /* ----------------------------------------------main css ------------------------------------ */

.main-section {
    padding: 73px 0;
    max-width: 1275px;
    margin: 0 auto;
}
.container{
    padding: 0 20px;
}
.main-section .heading {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    word-spacing: 7.3px;
    line-height: 1.4;
}

.main-section .tab-accordion-content-wrapper {
    background: #F8F9FC;
    border: 1px solid #d5dfff;
    border-radius: 24px;
    padding: 26px 40px;
}

.tab-accordion-content-wrapper .heading-block {
    max-width: 900px;
    margin: 0 auto;
}

.tab-accordion-content-wrapper .heading-block .list-wrapper {
    margin-bottom: 68px;
}

.tab-accordion-content-wrapper .heading-block .list-wrapper ul {
    display: flex;
    margin: 0 -4px;
}

.tab-accordion-content-wrapper .heading-block .list-wrapper ul li {
    padding: 0 4px;
}
.tab-accordion-content-wrapper .heading-block .list-wrapper ul li svg{
    display: none;
    transition: all 0.5s;
    width: 20px;
}

.tab-accordion-content-wrapper .heading-block .list-wrapper ul li a {
    padding: 11px 22px;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s all;
}

.tab-accordion-content-wrapper .heading-block .list-wrapper ul li.active a {
    background-color: #2F64FF;
}

.tab-accordion-content-wrapper .heading-block .list-wrapper ul li.active a span {
    color: #fff;
}
.tab-accordion-content-wrapper .heading-block .list-wrapper ul li .inner-wrapper{
    display: flex;
    align-items: center;
}


.heading-block .list-wrapper ul li a em {
    position: relative;
    min-width: 24px;
    margin-right: 8px;
    line-height: 0;
}

.tab-accordion-content-wrapper .heading-block .list-wrapper span {
    color: #747272;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}

.tab-accordion-content-wrapper .heading-block .list-wrapper ul li a em .normal-icon {
    opacity: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.tab-accordion-content-wrapper .heading-block .list-wrapper ul li.active a em .white-icon {
    opacity: 1;
}

.tab-accordion-content-wrapper .heading-block .list-wrapper ul li.active a em .normal-icon {
    opacity: 0;
}

.inner-content .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.inner-content .content-wrapper .content {
    flex: 38%;
    max-width: 38%;
    padding: 0 20px;
}

.inner-content .content-wrapper .content p {

    font-weight: 500;
    line-height: 1.7;
    margin-top: 10px;
}

.inner-content .content-wrapper .video-content-outer-wrapper {
    flex: 0 0 62%;
    max-width: 62%;
    padding: 0 20px;
}

.inner-content .content-wrapper .video-content {
    position: relative;
    width: 100%;
    padding-bottom: 63.1%;
    overflow: hidden;
    border-radius: 24px;
}

.inner-content .content-wrapper .video-content span {
    width: 88px;
    height: 88px;
    background-color: #fff;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.inner-content .content-wrapper .video-content span img {
    position: absolute;
    left: 33px;
}

.video-content .image-wrapper {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.inner-content .content-wrapper .video-content video {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tab-accordion-content-wrapper .tab-accordiun-content-block .inner-content.active {
    display: block !important;
}

.inner-content .content-wrapper .video-content .poster-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: inline-flex;
}

.inner-content .content-wrapper .video-content.video-control .poster-image {
    display: none;
}

.poster-image img {
    width: 100%;
}


                          /* ----------------------------------------------media query ------------------------------------ */

@media (max-width:1199px) {
h1{
    font-size: 30px;
}
.main-section {
    padding: 50px 0;
}
.main-section .tab-accordion-content-wrapper {
    padding: 20px 30px;
}
.tab-accordion-content-wrapper .heading-block .list-wrapper {
    margin-bottom: 50px;
}
@media (max-width:1024px) {
    h1{
        font-size: 28px;
    }
    .main-section {
        padding: 50px 0;
    }
    .inner-content .content-wrapper .content p {
        font-size: 22px;
    }
}
}
@media (min-width:992px) {
    .tab-accordion-content-wrapper .tab-accordion-content-block .inner-content {
        display: none;
    }

    .tab-accordion-content-wrapper .tab-accordion-content-block .inner-content:first-child {
        display: block;
    }
}

@media (max-width:991px) {
    .main-section {
        padding: 30px 0;
    }
    .tab-accordion-content-wrapper .heading-block .list-wrapper {
        margin-bottom: 0;
        width: 100%;
    }

    .tab-accordion-content-wrapper .heading-block .list-wrapper ul {
        display: block;
        margin: 0;
    }

    .tab-accordion-content-wrapper .heading-block .list-wrapper ul li {
        padding: 0;
    }

    .tab-accordion-content-wrapper .heading-block .list-wrapper ul li a {
        width: 100%;
        margin-bottom: 20px;
    }
    .inner-content .content-wrapper .content {
        padding: 0 10px;
    }
    .inner-content .content-wrapper .video-content-outer-wrapper {
        padding: 0 10px;
    }
    .inner-content .content-wrapper {
        margin: 0 -10px;
    }

    h1 {
        font-size: 26px;
    }
    .inner-content .content-wrapper .content p {
        font-size: 20px;
        line-height: 1.5;
    }
    .main-section .heading {
        margin-bottom: 30px;
    }
    .inner-content .content-wrapper .video-content span {
        width: 70px;
        height: 70px;
    }
    .inner-content .content-wrapper .video-content span img {
        left: 27px;
        width: 25px;
    }
    .tab-accordion-content-wrapper .heading-block .list-wrapper ul li svg{
        display: block;
    }
    .tab-accordion-content-wrapper .heading-block .list-wrapper ul li.active svg{
        transform: rotate(180deg);

    }
    .tab-accordion-content-wrapper .heading-block .list-wrapper ul li.active svg path{
        fill: #fff;
    }
}
@media (max-width:767px) {
    h1 {
        font-size: 24px;
    }
    .accordion-content-wrapper {
        padding: 20px 15px;
    }
    .tab-accordion-content-wrapper .heading-block .list-wrapper ul li a {
        margin-bottom: 15px;
    }
    .inner-content .content-wrapper .content p {
        font-size: 18px;
        line-height: 1.4;
    }
    .main-section .tab-accordion-content-wrapper {
        padding: 20px 15px;
    }
    .main-section .heading {
        margin-bottom: 25px;
    }
}
@media (max-width:575px) {
    h1 {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: normal;
    }
    .inner-content .content-wrapper .video-content span {
        width: 50px;
        height: 50px;
    }
    .inner-content .content-wrapper .video-content span img {
        left: 19px;
        width: 18px;
    }
    .inner-content .content-wrapper .content p {
        font-size: 16px;
        line-height: 1.2;
    }
    .tab-accordion-content-wrapper .heading-block .list-wrapper span {
        font-size: 16px;
    }
    .tab-accordion-content-wrapper .heading-block .list-wrapper ul li a {
        padding: 9px 14px;
    }
}
@media (max-width:510px)
{
    .inner-content .content-wrapper .content {
        flex: 100%;
        max-width: 100%;
        order: 1;
    }
    .inner-content .content-wrapper .video-content-outer-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .inner-content .content-wrapper .video-content {
        padding-bottom: 45%;
     }
     .inner-content .content-wrapper .content p{
        margin-bottom: 10px;
     }
     .inner-content .content-wrapper .content {
        padding: 0 15px;
    }
}