@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


                    /* ----------------------------------------------reset css ------------------------------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #373737;
    font-size: 24px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}


                    /* ----------------------------------------------main css ------------------------------------ */

.main-section {
    padding: 73px 0;
    max-width: 1335px;
    margin: 0 auto;
}
.container{
    padding: 0 50px;
}
h1{
    font-size: 32px;
    color:#151515;
    font-weight: 700;
    word-spacing: 1px;
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.4;
}

.main-section .tab-accordion-content-wrapper {
    background: #F8F9FC;
    border: 1px solid #d5dfff;
    border-radius: 24px;
    padding: 26px 40px;
}


.tab-accordion-content-wrapper .tab-heading-block{
    display: flex;
    justify-content: center;
    margin: 0 -4px;
    margin-bottom: 68px;
    
}

.tab-accordion-content-wrapper .tab-heading-block li {
    padding: 0 4px;
    
}
.tab-accordion-content-wrapper .tab-heading-block li a::after{
    position: absolute;
    content: '';
    right: 20px;
    top: 27%;
    height: 15px;
    width: 12px;
    background-repeat: no-repeat;
    background-image: url(../media/down-arrow.svg);
    background-size: contain;
    background-position: center;
    padding: 3px;
    transition: all 0.5s;
    display: none;
}
.tab-accordion-content-wrapper .tab-heading-block li.active a::after{
    background-image: url(../media/down-arrow-white-icon.svg);
    transform: rotate(180deg);
}
.tab-accordion-content-wrapper .tab-heading-block li .image-block{
    margin-right: 8px;
    min-width: 24px;
    line-height: 0;
    text-align: center;
}
.tab-accordion-content-wrapper .tab-heading-block li.active svg .white-icon{
    fill: #fff;
}

.tab-accordion-content-wrapper .tab-heading-block li a {
    padding: 11px 20px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    transition: 0.5s all;
    position: relative;
}

.tab-accordion-content-wrapper .tab-heading-block li.active a {
    background-color: #2F64FF;
}

.tab-accordion-content-wrapper .tab-heading-block li.active a span {
    color: #fff;
}
.tab-accordion-content-wrapper .tab-heading-block li .inner-wrapper{
    display: flex;
    align-items: center;
}

.tab-heading-block li a em {
    position: relative;
    min-width: 24px;
    margin-right: 8px;
    line-height: 0;
}

.tab-accordion-content-wrapper span {
    color: #747272;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
}

.inner-content .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.inner-content .content-wrapper .content {
    flex: 38%;
    max-width: 38%;
    padding: 0 20px;
}

.inner-content .content-wrapper .content p {

    font-weight: 500;
    line-height: 1.7;
    font-size: 24px;
   
}
.inner-content .content-wrapper .video-content-outer{
    flex: 0 0 62% ;
    max-width: 62% ;
    padding: 0 20px;
}
.inner-content .content-wrapper .video-content {
    position: relative;
    width: 100%;
    padding-bottom: 63.1%;
    overflow: hidden;
    border-radius: 24px;
}

.inner-content .content-wrapper .video-content span {
    width: 88px;
    height: 88px;
    background-color: #fff;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.inner-content .content-wrapper .video-content span img {
    position: absolute;
    max-width: 30px;
    left: 33px;
}

.video-content .image-wrapper {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.inner-content .content-wrapper .video-content video {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tab-accordion-content-wrapper .tab-accordiun-content-block .inner-content.active {
    display: block !important;
}

.inner-content .content-wrapper .video-content .poster-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: inline-flex;
}

.inner-content .content-wrapper .video-content.video-control .poster-image {
    display: none;
}

.poster-image img {
    width: 100%;
}


                          /* ----------------------------------------------media query ------------------------------------ */

@media (max-width:1199px) {
h1{
    font-size: 30px;

}
.main-section {
    padding: 50px 0;
}
.main-section .tab-accordion-content-wrapper {
    padding: 20px 24px;
}
.container {
    padding: 0 24px;
}
.inner-content .content-wrapper .content p {
    font-size: 22px;
}
@media (max-width:1024px) {
    h1{
        font-size: 28px;
    }
    .main-section {
        padding: 50px 0;
    }
    .inner-content .content-wrapper .content p {
        font-size: 20px;
    }
}
}
@media (min-width:992px) {
    .tab-accordion-content-wrapper .tab-accordion-content-block .inner-content {
        display: none;
    }

    .tab-accordion-content-wrapper .tab-accordion-content-block .inner-content:first-child {
        display: block;
    }
}

@media (max-width:991px) {
    .main-section {
        padding: 30px 0;
    }
    .tab-accordion-content-wrapper {
        margin-bottom: 0;
        width: 100%;
    }

    .tab-accordion-content-wrapper .tab-heading-block {
        display: block;
        margin: 0;
    }

    .tab-accordion-content-wrapper .tab-heading-block li {
        padding: 0;
        margin-bottom: 20px;
        border-radius: 12px;
    }

    .tab-accordion-content-wrapper .tab-heading-block li a {
        width: 100%;
        border: 1px solid #d5dfff;
        border-radius: 12px;
    }
    h1 {
        font-size: 26px;
    }
    .inner-content .content-wrapper .content p {
        font-size: 20px;
        line-height: 1.5;
    }
    .main-section .heading {
        margin-bottom: 30px;
    }
    .inner-content .content-wrapper .video-content span {
        width: 70px;
        height: 70px;
    }
    .inner-content .content-wrapper .video-content span img {
        left: 27px;
        width: 25px;
    }
    .tab-accordion-content-wrapper .tab-heading-block li a::after{
        display: block;
    }
    .inner-content .content-wrapper .content p {
        font-size: 18px;
    }
    .inner-content .content-wrapper {
        margin: 0 -10px;
    }
    .inner-content .content-wrapper .content {
        padding: 0 10px;
    }
    .inner-content .content-wrapper .video-content-outer{
        padding: 0 10px;
    }
}
@media (max-width:767px) {
    h1 {
        font-size: 24px;
    }
    .accordion-content-wrapper {
        padding: 20px 15px;
    }
    .tab-accordion-content-wrapper .tab-heading-block li a {
        margin-bottom: 15px;
    }
    .inner-content .content-wrapper .content p {
        font-size: 18px;
        line-height: 1.4;
    }
    .main-section .tab-accordion-content-wrapper {
        padding: 20px 15px;
    }
    .main-section .heading {
        margin-bottom: 25px;
    }
    .inner-content .content-wrapper .content p {
        font-size: 16px;
    }
    .inner-content .content-wrapper .content {
        flex:0 0 50%;
        max-width: 50%;
    }
    .inner-content .content-wrapper .video-content-outer{
        flex: 0 0 50% ;
        max-width: 50% ;
    }
    .inner-content .content-wrapper .video-content {
        padding-bottom: 30%;
    }
    .inner-content .content-wrapper .video-content span {
        width: 60px;
        height: 60px;
    }
    .inner-content .content-wrapper .video-content span img {
        left: 23px;
        width: 22px;
    }
}
@media (max-width:575px) {
    h1 {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: normal;
    }
    .inner-content .content-wrapper .video-content span {
        width: 50px;
        height: 50px;
    }
    .inner-content .content-wrapper .video-content span img {
        left: 19px;
        width: 18px;
    }
    .inner-content .content-wrapper .content p {
        font-size: 16px;
        line-height: 1.2;
    }
    .tab-accordion-content-wrapper span {
        font-size: 16px;
    }
    .tab-accordion-content-wrapper .tab-heading-block li a {
        padding: 9px 14px;
    }
    .inner-content .content-wrapper .content p {
        font-size: 14px;
    }
    .tab-accordion-content-wrapper .tab-heading-block li .image-block svg {
        width: 22px;
    }
}
@media (max-width:450px)
{
    .inner-content .content-wrapper .content {
        flex: 100%;
        max-width: 100%;
        order: 1;
    }
    .inner-content .content-wrapper .video-content-outer{
        flex: 0 0 100% ;
        max-width: 100% ;
        margin-bottom: 10px;
    }
        
    .inner-content .content-wrapper .video-content {
        padding-bottom: 40%;
    }
   
     .inner-content .content-wrapper .content {
        padding: 0 15px;
    }
}